rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- Global Helper Functions ---

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isSupervisor() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_supervisors/$(request.auth.uid));
    }

    function isExistingOwner(userId) {
      return isOwner(userId) && resource != null;
    }

    function isNotSubmitted() {
      return resource.data.isSubmitted == false || resource.data.productionDayIsSubmitted == false;
    }

    // --- Collection Rules ---

    match /roles_supervisors/{uid} {
      allow get: if isSignedIn();
      allow list, create, update, delete: if false;
    }

    match /employees/{employeeId} {
      // Autorise la lecture si c'est le propriétaire, un superviseur, ou si on a le lien (isSignedIn car auto-anonyme)
      allow get: if isSignedIn();
      allow list: if isOwner(employeeId) || isSupervisor();
      allow create: if isOwner(employeeId) && request.resource.data.id == employeeId;
      allow update: if isExistingOwner(employeeId) && request.resource.data.id == resource.data.id;
      allow delete: if isExistingOwner(employeeId);
    }

    match /employees/{employeeId}/productionDays/{productionDayId} {
      // Autorise la lecture individuelle à toute personne ayant le lien
      allow get: if isSignedIn();
      allow list: if isOwner(employeeId) || isSupervisor();
      allow create: if isOwner(employeeId) && request.resource.data.employeeId == employeeId;
      allow update: if isExistingOwner(employeeId) && request.resource.data.employeeId == resource.data.employeeId;
      allow delete: if isExistingOwner(employeeId);
    }

    match /employees/{employeeId}/productionDays/{productionDayId}/discharges/{dischargeId} {
      // Autorise la lecture de la liste à toute personne ayant le lien
      allow get, list: if isSignedIn();
      allow create: if isOwner(employeeId);
      allow update: if isExistingOwner(employeeId) && isNotSubmitted();
      allow delete: if isExistingOwner(employeeId) && isNotSubmitted();
    }

    // --- Collection Group Rules ---

    match /{path=**}/productionDays/{dayId} {
      allow list: if isSupervisor();
    }

    match /{path=**}/discharges/{dischargeId} {
      allow list: if isSupervisor();
    }
  }
}